<%- include('../partials/head.ejs') %>
    <%- include('doormanHeader.ejs') %>
        <div class="container col-12 col-xl-6 text-center">
            <h1>Listagem de visitantes</h1>
            <% if(list.length === 0){ %>
                <h2>Não existem Usuários cadastrados</h2>
            
             <% } else { %>
                <div class="container-fluid">
                    <table class="table table-striped">
                      <thead>
                      <tr >
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Turno</th>
                        <th scope="col">Ativo?</th>
                        <th scope="col">Ações</th>
                      </tr>
                      </thead>
                      <tbody>
                    <% for (var i = 0; i < list.length; i++) { %>
                      <tr class="align-middle">
                        <td><%= i + 1 %></td>
                        <td><%= list[i].name %></td>
                        <td><%= list[i].turn %></td>
                        <td><%= list[i].active %></td>
                        <td>
                            <div class="d-flex justify-content-center">
                            <a href="/doorman/update/<%= list[i].id %>" class="btn btn-primary d-inline mx-2">Editar</a>
                            <a href="/doorman/delete/<%= list[i].id %>" class="btn btn-secondary d-inline">Deletar</a>
                            </div>
                        </td>
                      </tr>
                    <% } %>
                      </tbody>
                    </table>
                    </div>
              <% } %>
          
        </div>
        <%- include('../partials/footer.ejs') %>