<%- include('../partials/head.ejs') %>
    <%- include('doormanHeader.ejs') %>
        <div class="container col-4">
            <h1 class="text-center">Edição de Funcionario</h1>
            <p>Analise cuidadosamente os campos pressione o botão Editar</p>
            <form method="post" action="/updatedoorman">
                <div class="form-outline mb-4">
                    <input type="hidden" name="id" id="name" class="form-control"
                        placeholder="Digite o nome do visitante" value="<%= doorman.id%>" />
                </div>
                <div class="form-outline mb-4">
                    <input type="text" name="name" id="name" value="<%= doorman.name%>" class="form-control"  placeholder="Digite o nome do visitante"/>
                    <label class="form-label" for="name">Nome</label>
                </div>

                <div class="form-outline mb-4">
                    <select class="form-select" aria-label="Default select example" name="turn" id="turn">
                        <option selected value="manhã/tarde">MANHÃ/TARDE</option>
                        <option value="tarde/noite">TARDE/NOITE</option>
                      </select>
                    <label class="form-label" for="turn">Turno</label>
                </div>

                <div class="form-outline mb-4">
                    <input class="form-check-input" type="checkbox" value="<%= doorman.active%>" name="active" id="active"  checked>
                    <label class="form-label" for="active">Ativo?</label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Editar</button>


            </form>
        </div>
        <%- include('../partials/footer.ejs') %>