<%- include('../partials/head.ejs') %>
    <%- include('visitHeader.ejs') %>
        <div class="container col-12 col-xl-4">
            <h1 class="text-center">Encerramento de Visita</h1>
            <p>Pressione o Botão para Finalizar a visita</p>
            <form method="post" action="/finishvisit">
                <div class="form-outline mb-4">
                    <input type="hidden" name="id" id="name" class="form-control"
                        placeholder="Digite o nome do visitante" value="<%= visit.id %>" />
                </div>
                <div class="form-outline mb-4">
                    <input type="hidden" name="exit" id="exit" class="form-control"
                        placeholder="Digite o nome do visitante" value="<%= exit %>" />
                </div>
                <div class="form-outline mb-4">
                    <input type="text" name="shiw" id="show" class="form-control" value="<%= formatedDate %>" disabled/>
                    <label class="form-label" for="exit">Horário de Encerramento da Visita</label>
                </div>

                <button type="submit" class="btn btn-primary btn-block mb-4">Encerrar</button>

            </form>
        </div>
        <%- include('../partials/footer.ejs') %>